@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

* {
    background-color: #000;
    padding: 0%;
    margin: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #00ff7f;
}

/* logo and header */

h1 {
    font-family: 'Abril Fatface', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #00ff7f;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
}

/* navigation menu */

#menu-nav {
    letter-spacing: 3px;
    font-size: 110%;
}

#logo, #menu-nav {
    line-height: 75px;
}

#menu-nav li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu-nav a {
    text-decoration: none;
    color: inherit;
}

#menu-nav a:hover {
    border-bottom: 1px solid #00ff7f;
}

.active {
    border-bottom: 1px solid #00ff7f;
}

/* main image */

#main-image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 650px;
    width: 100%;
    background: url(../images/antoine-j-A_0C42zmz1Q-unsplash.jpg);
    background-size: 100% 650px;
    background-repeat: no-repeat;
}

/* festival infomation section */

#festival-info {
    height: 650px;
}

#info-about {
    float: left;
    width: 33%;
    padding-top: 25px;
}

.about {
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
}


/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #00ff7f;
}